<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fudges.user.dao.po.UserPasswordPoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.fudges.user.entity.po.UserPasswordPo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="login_password" property="loginPassword" />
        <result column="login_salt" property="loginSalt" />
        <result column="password_length" property="passwordLength" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, login_password, login_salt, password_length, create_time, modify_time
    </sql>

    <!-- 连表查询结果列 -->
    <sql id="Column_List_With_TableName">
        ${tableName}.id, 
        ${tableName}.user_id, 
        ${tableName}.login_password, 
        ${tableName}.login_salt, 
        ${tableName}.password_length, 
        ${tableName}.create_time, 
        ${tableName}.modify_time
    </sql>
</mapper>
